@use '../abstracts' as *;
@use '../base' as *;

.ad-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__rectangle {
        display: inline-block;
        transform: translateY(-25%);
    }

    &__info {
        margin-bottom: crem(28px);
    }

    &__title {
        margin-bottom: crem(45px);
    }

    &__content {
        padding: crem(220px) 0;
        width: 44%;
        margin-left: map-get($spc, "h2");
    }

    &__img {
        display: inline-block;
        width: 700px;
        aspect-ratio: 1.193;
        transform: translateY(8%);
    }

    @include mq(desktop) {
        &__content {
            padding-top: 130px;
            padding-bottom: 130px;
        }

        &__img {
            width: crem(500px);
        }
    }

    @include mq(tablet) {
        &__content {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        &__img {
            width: crem(400px);
        }
    }

    @include mq(lgPhone) {
        &__content {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        @include mq(bigPhone) {
            &__content {
                width: 100%;
            }

            &__img {
                display: none;
            }
        }
    }
}