@use '../abstracts' as *;
@use '../base' as *;

.ad-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__rectangle {
        display: inline-block;
        transform: translateY(-25%);
    }

    &__info {
        margin-bottom: crem(28px);
    }

    &__title {
        margin-bottom: crem(45px);
    }

    &__content {
        padding: crem(220px) 0;
        width: 44%;
        margin-left: map-get($spc, "h4");
    }

    &__img {
        display: inline-block;
        width: 700px;
        transform: translateY(8%);
    }

    @include mq(desktop) {
        &__content {
            padding-top: crem(130px);
            padding-bottom: crem(130px);
        }

        &__img {
            width: crem(500px);
        }
    }

    @include mq(tablet) {
        &__content {
            padding-top: crem(100px);
            padding-bottom: crem(100px);
        }

        &__img {
            width: crem(400px);
        }
    }

    @include mq(lgPhone) {
        &__content {
            padding-top: crem(80px);
            padding-bottom: crem(80px);
        }
    }

    @include mq(bigPhone) {
        &__content {
            width: 100%;
            padding-top: crem(55px);
            padding-bottom: crem(55px);
        }

        &__img {
            display: none;
        }
    }

    @include mq(phone) {
        &__content {
            margin-left: crem(50px);
        }
    }
}