@use '../abstracts' as *;
@use '../base' as *;

.features {
    width: var(--sections-maxwidth);

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: crem(55px);
    }

    &__item {
        width: 282px;
    }

    &__icon {
        margin-right: crem(14px);
    }

    &__title {
        margin-bottom: cem(4px, map-get($tpg, "h6"));
    }

    &__info {
        margin-left: crem(44px);
    }

    @include mq(bigPhone) {
        width: fit-content;

        &__list {
            display: block;
        }

        &__item {
            margin-bottom: crem(50px);
            width: 100%;
        }

        &__item:last-of-type {
            margin-bottom: 0;
        }
    }
}