@use '../abstracts' as *;
@use '../base/' as *;

.subscribe {
    max-width: var(--sections-maxwidth);
    margin: map-get($spc, "h4") auto;
    padding: crem(80px) crem(110px);

    &__content {
        display: flex;
        gap: crem(10px);
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__text {
        width: 45%;
    }

    &__form {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    &__input {
        min-width: 70%;
        margin-bottom: crem(15px);
        padding: cem(15px, map-get($tpg, "p2")) cem(30px, map-get($tpg, "p2"));
    }

    &__btn {
        min-width: 30%;
        margin-bottom: crem(15px);
        background-color: var(--basic-color);
        padding: cem(15px, map-get($tpg, "p4")) cem(30px, map-get($tpg, "p2"));
    }

    @include mq(desktop) {
        display: block;
        padding-top: crem(70px);
        padding-bottom: crem(70px);

        &__text {
            width: 100%;
            text-align: center;
            margin-bottom: crem(20px);
        }

        &__form {
            width: 100%;
        }
    }

    @include mq(bigPhone) {
        max-width: 100%;
        padding-top: crem(45px);
        padding-bottom: crem(45px);
        padding-left: crem(60px);
        position: relative;
        margin: map-get($spc, "h4") 0;

        &__bgc {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        
        &__text {
            text-align: start;
        }

        &__form {
            justify-content: flex-start;
        }
    }

    @include mq(phone) {
        &__input {
            width: 100%;
        }
    }
}
