$rem-size: 16px;

$breakpoints: (
    // 520px
    "smPhone": 32.5em,
    // 651px
    "phone": 40.6875em,
    // 860px
    "bigPhone": 53.75em,
    // 950px
    "lgPhone": 59.375em,
    // 1180px
    "tablet":73.75em,
    // 1450px
    "desktop": 90.625em,
);

:root {
    --basic-color: #72AEC8;
    --basic-color-2: #272727;
    --ad-background: #EDF1F3;
    --sections-maxwidth: clamp(700px, 75vw, 1800px);
}