@use '../abstracts' as *;
@use '../base' as *;

.nav {
    @extend %p3-tpg;
    font-family: 'Lato', sans-serif;    

    &__link {
        color: var(--basic-color-2);
    }

    &__link:hover {
        background-color: #ccc;
        color: var(--basic-color-2);
    }

    &__shop-tools-list :where(&__link):hover {
        background-color: #dcdcdc;
    }
}